In [2]:
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time
from bs4 import BeautifulSoup
import urllib
import requests

### 1.Scrape the details of most viewed videos on YouTube from Wikipedia.

In [2]:
driver= webdriver.Chrome("C://chromedriver.exe")
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"

driver.get(url)
driver.maximize_window()

templist = [] 
# Obtain number of rows in table
rows = 1+len(driver.find_elements_by_xpath(
    "//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr"))

# Obtain the number of columns in table
cols= len(driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr[1]//td"))
length = cols-5

rank=[]
ranks=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[1]")
for i in ranks:
    i=i.text
    rank.append(i)

name=[]
names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[2]")
for i in names:
    i=i.text
    name.append(i)

artist=[]
artists=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[3]")
for i in artists:
    i=i.text
    artist.append(i)

date=[]
dates=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[5]")
for i in dates:
    i=i.text
    date.append(i)
    
view=[]
views=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[4]")
for i in views:
    i=i.text
    view.append(i)

<ipython-input-2-a9a897e7d9f2>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome("C://chromedriver.exe")
<ipython-input-2-a9a897e7d9f2>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rows = 1+len(driver.find_elements_by_xpath(
<ipython-input-2-a9a897e7d9f2>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  cols= len(driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr[1]//td"))
<ipython-input-2-a9a897e7d9f2>:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ranks=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[1]")
<ipython-input-2-a9a897e7d9f2>:23: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[2]")
<ipython-input-2-a9a897e7d9f2>:29: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  artists=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[3]")
<ipython-input-2-a9a897e7d9f2>:35: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  dates=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[5]")
<ipython-input-2-a9a897e7d9f2>:41: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  views=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[4]")

In [3]:
df_wiki=pd.DataFrame({})

In [4]:
df_wiki['Rank']=rank
df_wiki['Name']=name
df_wiki['Artist']=artist
df_wiki['Upload_Date']=date
df_wiki['Visitors']=view

In [5]:
df_wiki.head(50)

,Rank,Name,Artist,Upload_Date,Visitors
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.90
1,2.,"""Despacito""[5]",Luis Fonsi,"January 12, 2017",7.68
2,3.,"""Johny Johny Yes Papa""[11]",LooLoo Kids,"October 8, 2016",6.06
3,4.,"""Shape of You""[12]",Ed Sheeran,"January 30, 2017",5.57
4,5.,"""See You Again""[14]",Wiz Khalifa,"April 6, 2015",5.37
5,6.,"""Bath Song""[19]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.79
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[20]",Miroshka TV,"February 27, 2018",4.54
7,8.,"""Masha and the Bear – Recipe for Disaster""[21]",Get Movies,"January 31, 2012",4.48
8,9.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.41
9,10.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",4.37
10,11.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.29
11,12.,"""Dame Tu Cosita""[29]",El Chombo,"April 5, 2018",3.77
12,13.,"""Sugar""[30]",Maroon 5,"January 14, 2015",3.61
13,14.,"""Sorry""[31]",Justin Bieber,"October 22, 2015",3.50
14,15.,"""Roar""[32]",Katy Perry,"September 5, 2013",3.49
15,16.,"""Counting Stars""[33]",OneRepublic,"May 31, 2013",3.47
16,17.,"""Wheels on the Bus""[34]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.44
17,18.,"""Thinking Out Loud""[35]",Ed Sheeran,"October 7, 2014",3.38
18,19.,"""Girls Like You""[36]",Maroon 5,"May 31, 2018",3.20
19,20.,"""Faded""[37]",Alan Walker,"December 3, 2015",3.20
20,21.,"""Dark Horse""[38]",Katy Perry,"February 20, 2014",3.20
21,22.,"""Axel F""[39]",Crazy Frog,"June 16, 2009",3.15
22,23.,"""Bailando""[40]",Enrique Iglesias,"April 11, 2014",3.14
23,24.,"""Let Her Go""[41]",Passenger,"July 25, 2012",3.14
24,25.,"""Lean On""[42]",Major Lazer,"March 22, 2015",3.14
25,26.,"""Shake It Off""[43]",Taylor Swift,"August 18, 2014",3.13
26,27.,"""Perfect""[44]",Ed Sheeran,"November 9, 2017",3.05
27,28.,"""Mi Gente""[45]",J Balvin,"June 29, 2017",3.02
28,29.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.02
29,30.,"""Baa Baa Black Sheep""[47]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.01
30,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"7,037,500,000","November 2, 2020","June 17, 2016"
31,"""Despacito""[5]",Luis Fonsi,"2,993,700,000","August 4, 2017","January 12, 2017"
32,"""See You Again""[14]",Wiz Khalifa,"2,894,000,000","July 10, 2017","April 6, 2015"
33,"""Gangnam Style""⁂[24]",Psy,"803,700,000","November 24, 2012","July 15, 2012"
34,"""Baby""*[58]",Justin Bieber,"245,400,000","July 16, 2010","February 19, 2010"
35,"""Bad Romance""[62]",Lady Gaga,"178,400,000","April 14, 2010","November 24, 2009"
36,"""Charlie Bit My Finger""‡[66]",HDCYT,"128,900,000","October 25, 2009","May 22, 2007"
37,"""Evolution of Dance""[68]",Judson Laipply,"118,900,000","May 2, 2009","April 6, 2006"
38,"""Girlfriend""‡[70][71]",RCA Records,"92,600,000","July 17, 2008","February 27, 2007"
39,"""Evolution of Dance""[68]",Judson Laipply,"78,400,000","March 15, 2008","April 6, 2006"
40,"""Music Is My Hot Hot Sex""‡[74]",CLARUSBARTEL72,"76,600,000","March 1, 2008","April 9, 2007"
41,"""Evolution of Dance""*[68]",Judson Laipply,"10,600,000","May 19, 2006","April 6, 2006"
42,"""Pokemon Theme Music Video""‡[79]",Smosh,"4,300,000","March 12, 2006","November 28, 2005"
43,"""Myspace – The Movie""‡[83][84]",eggtea,"2,700,000","February 18, 2006","January 31, 2006"
44,"""Phony Photo Booth""‡[86]",mugenized,"3,400,000","January 21, 2006","December 1, 2005"
45,"""The Chronic of Narnia Rap""‡[88]",youtubedude,"2,300,000","January 9, 2006","December 18, 2005"
46,"""Ronaldinho: Touch of Gold""‡*[90]",Nikesoccer,"255,000","October 31, 2005","October 21, 2005"
47,"""I/O Brush""‡*[93]",larfus,"247,000","October 29, 2005","October 5, 2005"
48,"""Me at the zoo""[95]",jawed,1,"April 23, 2005","April 23, 2005"

### 2.Scrape the details team India’s international fixtures from bcci.tv.

In [6]:
driver= webdriver.Chrome("C://chromedriver.exe")
url="https://www.bcci.tv/"

driver.get(url)
driver.maximize_window()
international=driver.find_element_by_xpath("//li[@class='nav-item ml-0']")
international.click()

fixtures= driver.find_element_by_xpath("//a[@id='fixtures-tab']")
fixtures.click()
time.sleep(5)

series_name=[]
series=driver.find_elements_by_xpath("//span[@class='ng-binding']")
try:
    for i in series:
        i=i.text
        series_name.append(i)
except:
    series_name.append("--")

details=driver.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']")
detail=[]
for i in details:
    i=i.text
    detail.append(i)

date=[]
dates=driver.find_elements_by_xpath("//h5[@class='ng-binding']")
for i in dates:
    i=i.text
    date.append(i)
    
time=[]
times = driver.find_elements_by_xpath("//h5[@class='text-right ng-binding']")
for i in times:
    i=i.text
    time.append(i)

<ipython-input-6-58af3982818a>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome("C://chromedriver.exe")
<ipython-input-6-58af3982818a>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  international=driver.find_element_by_xpath("//li[@class='nav-item ml-0']")
<ipython-input-6-58af3982818a>:9: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  fixtures= driver.find_element_by_xpath("//a[@id='fixtures-tab']")
<ipython-input-6-58af3982818a>:14: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  series=driver.find_elements_by_xpath("//span[@class='ng-binding']")
<ipython-input-6-58af3982818a>:22: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  details=driver.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']")
<ipython-input-6-58af3982818a>:29: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  dates=driver.find_elements_by_xpath("//h5[@class='ng-binding']")
<ipython-input-6-58af3982818a>:35: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  times = driver.find_elements_by_xpath("//h5[@class='text-right ng-binding']")

In [7]:
print(detail)
detail=str(detail)
details1=detail.split(",")
details1
K=2
res=[]
for idx in range(0, K):
    res.append(details1[idx::K])
result=list(res)

['2nd Test - The Wanderers Stadium, Johannesburg', '3rd Test - Newlands, Cape Town', '1st ODI - Boland Park, Paarl', '2nd ODI - Boland Park, Paarl', '3rd ODI - Newlands, Cape Town']

In [8]:
# define a dataframe
df_bcci=pd.DataFrame({})

In [10]:
df_bcci['Title']=result[0]
df_bcci['Series']=series_name
df_bcci['Place']=result[1]
df_bcci['Date']=date
df_bcci['Time']=time

In [11]:
df_bcci.head(7)

,Title,Series,Place,Date,Time
0,['2nd Test - The Wanderers Stadium,INDIA TOUR OF SOUTH AFRICA TEST SERIES 2021-22,Johannesburg',3 JAN 2022,1:30 PM IST
1,'3rd Test - Newlands,INDIA TOUR OF SOUTH AFRICA TEST SERIES 2021-22,Cape Town',11 JAN 2022,2:00 PM IST
2,'1st ODI - Boland Park,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,Paarl',19 JAN 2022,2:00 PM IST
3,'2nd ODI - Boland Park,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,Paarl',21 JAN 2022,2:00 PM IST
4,'3rd ODI - Newlands,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,Cape Town'],23 JAN 2022,2:00 PM IST

### 3.Scrape the details of selenium exception from guru99.com.

In [12]:
driver= webdriver.Chrome("C://chromedriver.exe")
url="https://www.guru99.com/"

driver.get(url)
driver.maximize_window()
selenium=driver.find_element_by_xpath("//a[@title='Selenium']")
selenium.click()

driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']").click()

name=driver.find_element_by_xpath("//a[@class='url fn n']").text
desc=[]
description = driver.find_elements_by_xpath("//div[@class='entry-content single-content']//p")
for i in description:
    i=i.text
    desc.append(i)
print(name)

<ipython-input-12-7350b1bc1b8b>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome("C://chromedriver.exe")
<ipython-input-12-7350b1bc1b8b>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  selenium=driver.find_element_by_xpath("//a[@title='Selenium']")
<ipython-input-12-7350b1bc1b8b>:9: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']").click()

Krishna Rungta

<ipython-input-12-7350b1bc1b8b>:11: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  name=driver.find_element_by_xpath("//a[@class='url fn n']").text
<ipython-input-12-7350b1bc1b8b>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  description = driver.find_elements_by_xpath("//div[@class='entry-content single-content']//p")

In [197]:
print(desc)

['An exception is an error that happens at the time of execution of a program. However, while running a program, programming languages generates an exception that should be handled to avoid your program to crash.', 'The exception indicates that, although the event can occur, this type of event happens infrequently. When the method is not able to handle the Exception, it is thrown to its caller function. Eventually, when an exception is thrown out of the main function, the program is terminated abruptly.', 'In this tutorial, you will learn:', 'Here, are some important standard using which you can handle Exceptions in Selenium WebDriver:', 'Try-catch: This method can catch Exceptions, which uses a combination of the try and catch keywords. Try command indicates the start of the block, and Catch is placed at the end of the try block, which helps to resolve the Exception.', 'You can also use the following methods to display Exception Information:']

### 4.Scrape the details of State-wise GDP of India from statisticstime.com.

In [14]:
import time
driver= webdriver.Chrome("C://chromedriver.exe")
url="https://www.statisticstimes.com/"

driver.get(url)
driver.maximize_window()
economy=driver.find_element_by_xpath("//*[contains(text(),'Economy')]")
Hover = ActionChains(driver).move_to_element(economy)
Hover.perform()
link= driver.find_element_by_xpath("//div[@class='navbar']//div[2]//a[contains(text(),'India')]")
link.click()
time.sleep(5)
link1=driver.find_element_by_xpath("//a[contains(text(),'» GDP of Indian states')]")
link1.click()

url = 'https://www.statisticstimes.com/economy/india/indian-states-gdp.php'
 
r=1
templist = [] 
rows = 1+len(driver.find_elements_by_xpath(
    "//table[@id='table_id']//tbody/tr"))
  
# Obtain the number of columns in table
cols = len(driver.find_elements_by_xpath(
    "//table[@id='table_id']//tbody/tr[1]/td"))


for i in range(1,rows):
    for j in range(1,cols):
        data = driver.find_element_by_xpath("//table[@id='table_id']//tbody//tr["+str(i)+"]/td["+str(j)+']').text 
        
        templist.append(data)
#         df = pd.DataFrame(templist)
# df.head(10)

#     templist.append("-")

<ipython-input-14-15109c4f63ee>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome("C://chromedriver.exe")
<ipython-input-14-15109c4f63ee>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  economy=driver.find_element_by_xpath("//*[contains(text(),'Economy')]")
<ipython-input-14-15109c4f63ee>:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  link= driver.find_element_by_xpath("//div[@class='navbar']//div[2]//a[contains(text(),'India')]")
<ipython-input-14-15109c4f63ee>:13: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  link1=driver.find_element_by_xpath("//a[contains(text(),'» GDP of Indian states')]")
<ipython-input-14-15109c4f63ee>:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rows = 1+len(driver.find_elements_by_xpath(
<ipython-input-14-15109c4f63ee>:24: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  cols = len(driver.find_elements_by_xpath(
<ipython-input-14-15109c4f63ee>:30: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  data = driver.find_element_by_xpath("//table[@id='table_id']//tbody//tr["+str(i)+"]/td["+str(j)+']').text

In [15]:
K=7
res=[]
for idx in range(0, K):
    res.append(templist[idx::K])
result=list(res)

In [16]:
df = pd.DataFrame({},columns=['Rank','State','GSDP','GSDP','Share','GDP(Billion$)'])
df['Rank']=result[0]
df['State']=result[1]
df['GSDP']=result[2]
df['GSDP']=result[3]
df['Share']=result[4]
df['GDP(Billion$)']=result[5]

In [17]:
df.head(34)

   Rank                      State       GSDP       GSDP   Share GDP(Billion$)
0     1                Maharashtra  2,632,792  2,632,792  13.94%       399.921
1     2                 Tamil Nadu  1,630,208  1,630,208   8.63%       247.629
2     3              Uttar Pradesh  1,584,764  1,584,764   8.39%       240.726
3     4                    Gujarat  1,502,899  1,502,899   7.96%       228.290
4     5                  Karnataka  1,493,127  1,493,127   7.91%       226.806
5     6                West Bengal  1,089,898  1,089,898   5.77%       165.556
6     7                  Rajasthan    942,586    942,586   4.99%       143.179
7     8             Andhra Pradesh    862,957    862,957   4.57%       131.083
8     9                  Telangana    861,031    861,031   4.56%       130.791
9    10             Madhya Pradesh    809,592    809,592   4.29%       122.977
10   11                     Kerala    781,653    781,653   4.14%       118.733
11   12                      Delhi    774,870    774,870   4.10%       117.703
12   13                    Haryana    734,163    734,163   3.89%       111.519
13   14                      Bihar    530,363    530,363   2.81%        80.562
14   15                     Punjab    526,376    526,376   2.79%        79.957
15   16                     Odisha    487,805    487,805   2.58%        74.098
16   17                      Assam    315,881    315,881   1.67%        47.982
17   18               Chhattisgarh    304,063    304,063   1.61%        46.187
18   19                  Jharkhand    297,204    297,204   1.57%        45.145
19   20                Uttarakhand    245,895    245,895   1.30%        37.351
20   21            Jammu & Kashmir    155,956    155,956   0.83%        23.690
21   22           Himachal Pradesh    153,845    153,845   0.81%        23.369
22   23                        Goa     73,170     73,170   0.39%        11.115
23   24                    Tripura     49,845     49,845   0.26%         7.571
24   25                 Chandigarh     42,114     42,114   0.22%         6.397
25   26                 Puducherry     34,433     34,433   0.18%         5.230
26   27                  Meghalaya     33,481     33,481   0.18%         5.086
27   28                     Sikkim     28,723     28,723   0.15%         4.363
28   29                    Manipur     27,870     27,870   0.15%         4.233
29   30                   Nagaland     27,283     27,283   0.14%         4.144
30   31          Arunachal Pradesh     24,603     24,603   0.13%         3.737
31   32                    Mizoram     22,287     22,287   0.12%         3.385
32   33  Andaman & Nicobar Islands          -          -       -             -

### 5.Scrape the details of trending repositories on Github.com.

In [6]:
df_git=pd.DataFrame({})

In [7]:
driver= webdriver.Chrome("C://chromedriver.exe")
url="https://www.github.com"
 
driver.get(url)
# driver.maximize_window()
driver.switch_to.window(driver.window_handles[0])
explore=driver.find_element_by_xpath("//li[4]//summary[@class='HeaderMenu-summary HeaderMenu-link px-0 py-3 border-0 no-wrap d-block d-lg-inline-block']")
Hover = ActionChains(driver).move_to_element(explore)
Hover.perform()
time.sleep(5)
link= driver.find_element_by_xpath("//ul[@class='list-style-none f5 pb-1']//a[contains(text(),'Trending')]")
link.click()
time.sleep(5)
names=[]
repo_names=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']//a")


repo=[]
try:
    for names in repo_names:
        names=names.text
        repo.append(names)
except:
    repo.append("--")

repo_desc=driver.find_elements_by_xpath("//p[@class='col-9 color-fg-muted my-1 pr-4']")
desc=[]
try:
    for i in repo_desc:
        i=i.text
        desc.append(i)
except:
    desc.append("--")

count=[]
try:
    for i in range(1,len(repo_names)+1):
        contrib = driver.find_elements_by_xpath("//article[@class='Box-row']["+str(i)+"]//span[contains(text(),'Built by')]//a")
        len1 = len(contrib)
        count.append(len1)
except:
    count.append("--")

lang =[]

try:
    language= driver.find_elements_by_xpath("//span[@itemprop='programmingLanguage']")
    for i in language:
        lang.append(i.text)
except:
    lang.append("-")

<ipython-input-7-a7b821b5c00b>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome("C://chromedriver.exe")
<ipython-input-7-a7b821b5c00b>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  explore=driver.find_element_by_xpath("//li[4]//summary[@class='HeaderMenu-summary HeaderMenu-link px-0 py-3 border-0 no-wrap d-block d-lg-inline-block']")
<ipython-input-7-a7b821b5c00b>:11: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  link= driver.find_element_by_xpath("//ul[@class='list-style-none f5 pb-1']//a[contains(text(),'Trending')]")
<ipython-input-7-a7b821b5c00b>:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  repo_names=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']//a")
<ipython-input-7-a7b821b5c00b>:26: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  repo_desc=driver.find_elements_by_xpath("//p[@class='col-9 color-fg-muted my-1 pr-4']")
<ipython-input-7-a7b821b5c00b>:38: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  contrib = driver.find_elements_by_xpath("//article[@class='Box-row']["+str(i)+"]//span[contains(text(),'Built by')]//a")
<ipython-input-7-a7b821b5c00b>:47: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  language= driver.find_elements_by_xpath("//span[@itemprop='programmingLanguage']")

In [9]:
df_git['Repo_name']=repo
df_git['Repo_descriprion']=pd.Series(desc)
df_git['Contributer count']=count
df_git['Language']=pd.Series(lang)

In [10]:

df_git.head(30)

,Repo_name,Repo_descriprion,Contributer count,Language
0,teslamotors / light-show,Tesla Light Show,2,Python
1,youngyangyang04 / leetcode-master,LeetCode 刷题攻略：200道经典题目刷题顺序，共60w字的详细图解，视频难点剖析，5...,5,Python
2,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,5,Lua
3,Courseplay / Courseplay_FS22,Courseplay for Farming Simulator 2022,5,C++
4,bitcoin / bitcoin,Bitcoin Core integration/staging tree,5,JavaScript
5,sindresorhus / awesome,😎 Awesome lists about all kinds of interesting...,5,Dart
6,R2Northstar / Northstar,Repo for packaged Northstar releases and the wiki,1,Python
7,mtdvio / every-programmer-should-know,A collection of (mostly) technical things ever...,5,Go
8,trekhleb / javascript-algorithms,📝 Algorithms and data structures implemented i...,5,JavaScript
9,alesimula / wsa_pacman,A GUI package manager and package installer fo...,2,TypeScript
10,mpcabete / bombcrypto-bot,This is a python bot that automatically logs i...,5,JavaScript
11,Hackmanit / Web-Cache-Vulnerability-Scanner,Web Cache Vulnerability Scanner is a Go-based ...,2,Jinja
12,babysor / MockingBird,🚀AI拟声: 5秒内克隆您的声音并生成任意语音内容 Clone a voice in 5 s...,5,TypeScript
13,Tinkoff / taiga-ui,Angular UI Kit and components library for awes...,5,Solidity
14,mkrl / misbrands,The world's most hated IT stickers,1,JavaScript
15,30-seconds / 30-seconds-of-code,Short JavaScript code snippets for all your de...,5,TypeScript
16,notthebee / infra,IaC for my Linux/Unix machines,1,Lua
17,bangle-io / bangle-io,A web only WYSIWYG note taking app that saves ...,1,C
18,Dapp-Learning-DAO / Dapp-Learning,The fastest way to build Svelte apps,5,TypeScript
19,sveltejs / kit,The open source Firebase alternative. Follow t...,5,C++
20,supabase / supabase,Use Neovim as a language server to inject LSP ...,5,NaN
21,jose-elias-alvarez / null-ls.nvim,Launcher used to modify titanfall 2 to allow m...,5,NaN
22,R2Northstar / NorthstarLauncher,Dark Reader Chrome and Firefox extension,1,NaN
23,darkreader / darkreader,Control WS2812B and many more types of digital...,5,NaN
24,Aircoookie / WLED,NaN,5,NaN

### 6. Scrape the details of top 100 songs on billiboard.com

In [28]:
driver= webdriver.Chrome("C://chromedriver.exe")
url='https://www.billboard.com/'

driver.get(url)
driver.maximize_window()
chart=driver.find_element_by_xpath("//li[@class='o-nav__list-item lrv-u-align-items-center lrv-u-flex']")
chart.click()
link= driver.find_element_by_xpath("//div[@class='u-flex-grow-0 lrv-u-text-align-center']//span[1]//a")
l=link.get_attribute("href")
driver.get(l)
time.sleep(5)

names=[]
song_names=driver.find_elements_by_xpath("//ul//li//h3[1]")
for i in song_names:
    i=i.text
    names.append(i)

artists=[]
artist= driver.find_elements_by_xpath("//li[@class='lrv-u-width-100p']//span")
for i in artist:
    i=i.text
    artists.append(i)

<ipython-input-28-8f098e8c5267>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome("C://chromedriver.exe")
<ipython-input-28-8f098e8c5267>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  chart=driver.find_element_by_xpath("//li[@class='o-nav__list-item lrv-u-align-items-center lrv-u-flex']")
<ipython-input-28-8f098e8c5267>:8: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  link= driver.find_element_by_xpath("//div[@class='u-flex-grow-0 lrv-u-text-align-center']//span[1]//a")
<ipython-input-28-8f098e8c5267>:14: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  song_names=driver.find_elements_by_xpath("//ul//li//h3[1]")
<ipython-input-28-8f098e8c5267>:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  artist= driver.find_elements_by_xpath("//li[@class='lrv-u-width-100p']//span")

In [29]:
K=7
res=[]
for idx in range(0, K):
    res.append(artists[idx::K])
# print("Stepped splitted List : " + str(res))
result=list(res)

In [30]:
df_billboard= pd.DataFrame({})

In [31]:
df_billboard['Song_name']= names[0:100]
df_billboard['Artist_name']=result[0]
df_billboard['Last_week_rank']=result[1]
df_billboard['Peak_rank']=result[2]
df_billboard['Weeks_on_board']=result[3]

In [32]:
df_billboard.head(100)

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,All I Want For Christmas Is You,Mariah Carey,2,1,49
1,Rockin' Around The Christmas Tree,Brenda Lee,3,2,43
2,Easy On Me,Adele,1,1,10
3,Jingle Bell Rock,Bobby Helms,6,3,40
4,A Holly Jolly Christmas,Burl Ives,5,4,24
...,...,...,...,...,...
95,No Love,Summer Walker & SZA,78,13,6
96,Bad Man (Smooth Criminal),Polo G,70,49,5
97,Feel Alone,Juice WRLD,-,98,1
98,Heart On Fire,Eric Church,95,89,4
99,Bubbly,Young Thug With Drake & Travis Scott,91,20,9

### 7. Scrape the details of Data science recruiters from naukri.com.

In [34]:
driver= webdriver.Chrome("C://chromedriver.exe")
url= 'https://www.naukri.com/'

driver.get(url)
driver.maximize_window()
time.sleep(15)
recruiter=driver.find_element_by_xpath("//div[@class='mTxt'][contains(text(),'Recruiters')]")
recruiter.click()
time.sleep(3)

p = driver.current_window_handle

#get first child window
chwd = driver.window_handles

for w in chwd:
#switch focus to child window
    if(w!=p):
        driver.switch_to.window(w)
time.sleep(5)

driver.find_element_by_xpath("//input[@name='qp']").send_keys("Data science")
driver.find_element_by_xpath("//button[@id='qsbFormBtn']").click()

time.sleep(5)

name=[]
names=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in names:
    i=i.text
    name.append(i)

designation=[]
desig=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in desig:
    i=i.text
    designation.append(i)
    
company=[]
companies= driver.find_elements_by_xpath("//p[@class='highlightable']//a[2]")
for i in companies:
    i=i.get_attribute("title")
    company.append(i)
    
skill=[]
skills= driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in skills:
    i=i.text
    skill.append(i)

Location=[]
try:
    Locations = driver.find_elements_by_xpath("//p[@class='highlightable']//span[2]")
    try:
        for i in Locations:
            i=i.text
            Location.append(i)
    except:
        Location.append("-")
except nosuchelement:
    Location.append("-")

<ipython-input-34-329e7e79391d>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome("C://chromedriver.exe")
<ipython-input-34-329e7e79391d>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  recruiter=driver.find_element_by_xpath("//div[@class='mTxt'][contains(text(),'Recruiters')]")
<ipython-input-34-329e7e79391d>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//input[@name='qp']").send_keys("Data science")
<ipython-input-34-329e7e79391d>:23: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//button[@id='qsbFormBtn']").click()
<ipython-input-34-329e7e79391d>:28: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
<ipython-input-34-329e7e79391d>:34: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  desig=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
<ipython-input-34-329e7e79391d>:40: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  companies= driver.find_elements_by_xpath("//p[@class='highlightable']//a[2]")
<ipython-input-34-329e7e79391d>:46: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  skills= driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
<ipython-input-34-329e7e79391d>:53: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  Locations = driver.find_elements_by_xpath("//p[@class='highlightable']//span[2]")

In [35]:
df_recruiters= pd.DataFrame({})

In [36]:
df_recruiters['Name']=name
df_recruiters['Designation']=designation
df_recruiters['Company']=company
df_recruiters['Skills they hire for']=skill
df_recruiters['Location']=pd.Series(Location)

In [37]:
df_recruiters.head(50)

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE LIMITED,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private Limited,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Hyderabad / Secunderabad
30,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Mysoru / Mysore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Bengaluru / Bangalore
32,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
33,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",New Delhi
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting Co...,"Relationship Management, Retail Sales, Private...",Salt Lake City
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Hyderabad / Secunderabad
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Bengaluru / Bangalore
48,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",NaN
49,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",NaN

### 8.Scrape the details of Highest selling novels.

In [38]:
driver= webdriver.Chrome("C://chromedriver.exe")
url= "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"

driver.get(url)
driver.maximize_window()
time.sleep(5)

templist = [] 
rows = 1+len(driver.find_elements_by_xpath(
    "//table[@class='in-article sortable']//tbody//tr"))
  
# Obtain the number of columns in table
cols = len(driver.find_elements_by_xpath(
    "//table[@class='in-article sortable']//tbody//tr[1]/td"))


for i in range(1,rows):
    for j in range(1,cols):
        data = driver.find_element_by_xpath("//table[@class='in-article sortable']//tbody//tr["+str(i)+"]/td["+str(j)+']').text 
        
        templist.append(data)

<ipython-input-38-c39e7bf6108e>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome("C://chromedriver.exe")
<ipython-input-38-c39e7bf6108e>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rows = 1+len(driver.find_elements_by_xpath(
<ipython-input-38-c39e7bf6108e>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  cols = len(driver.find_elements_by_xpath(
<ipython-input-38-c39e7bf6108e>:19: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  data = driver.find_element_by_xpath("//table[@class='in-article sortable']//tbody//tr["+str(i)+"]/td["+str(j)+']').text

In [40]:
K=5
res=[]
for idx in range(0, K):
    res.append(templist[idx::K])
# print("Stepped splitted List : " + str(res))
result=list(res)

In [41]:
df_novels= pd.DataFrame({})

In [42]:
df_novels['BookName']=result[0]
df_novels['AuthorName']=result[1]
df_novels['VolumesSold']=result[3]
df_novels['Publisher']=result[2]
df_novels['Genre']=result[4]

In [43]:
df_novels.head()

,BookName,AuthorName,VolumesSold,Publisher,Genre
0,1,"Da Vinci Code,The","5,094,805","Brown, Dan",Transworld
1,2,Harry Potter and the Deathly Hallows,"4,475,152","Rowling, J.K.",Bloomsbury
2,3,Harry Potter and the Philosopher's Stone,"4,200,654","Rowling, J.K.",Bloomsbury
3,4,Harry Potter and the Order of the Phoenix,"4,179,479","Rowling, J.K.",Bloomsbury
4,5,Fifty Shades of Grey,"3,758,936","James, E. L.",Random House

### 9.Scrape the details most watched tv series of all time from imdb.com.

In [44]:
driver= webdriver.Chrome("C://chromedriver.exe")
url= 'https://www.imdb.com/list/ls095964455/'


driver.get(url)
driver.maximize_window()
time.sleep(5)

p = driver.current_window_handle

#get first child window
chwd = driver.window_handles

for w in chwd:
#switch focus to child window
    if(w!=p):
        driver.switch_to.window(w)
time.sleep(5)

name=[]
names=driver.find_elements_by_xpath("//h3[@class='lister-item-header']//a")
for i in names:
    i=i.text
    name.append(i)

year=[]
yearspan=driver.find_elements_by_xpath("//h3[@class='lister-item-header']//span[2]")
for i in yearspan:
    i=i.text
    year.append(i)
    
genre=[]
genres= driver.find_elements_by_xpath("//span[@class='genre']")
for i in genres:
    i=i.text
    genre.append(i)
    
runTime=[]
runTimes= driver.find_elements_by_xpath("//span[@class='runtime']")
for i in runTimes:
    i=i.text
    runTime.append(i)

rating=[]
ratings = driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']")
try:
    for i in ratings:
        i=i.text
        rating.append(i)
except:
    rating.append("-")
upvote=[]
upvotes = driver.find_elements_by_xpath("//span[@name='nv']")
try:
    for i in upvotes:
        i=i.text
        upvote.append(i)
except:
    upvote.append("-")

<ipython-input-44-707b096b5932>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome("C://chromedriver.exe")
<ipython-input-44-707b096b5932>:21: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names=driver.find_elements_by_xpath("//h3[@class='lister-item-header']//a")
<ipython-input-44-707b096b5932>:27: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  yearspan=driver.find_elements_by_xpath("//h3[@class='lister-item-header']//span[2]")
<ipython-input-44-707b096b5932>:33: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  genres= driver.find_elements_by_xpath("//span[@class='genre']")
<ipython-input-44-707b096b5932>:39: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  runTimes= driver.find_elements_by_xpath("//span[@class='runtime']")
<ipython-input-44-707b096b5932>:45: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ratings = driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']")
<ipython-input-44-707b096b5932>:53: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  upvotes = driver.find_elements_by_xpath("//span[@name='nv']")

In [45]:
df_imdb=pd.DataFrame({})

In [46]:
df_imdb['Name']=name
df_imdb['YearSpan']=year
df_imdb['Genre']=genre
df_imdb['Runtime']=runTime
df_imdb['Ratings']=rating
df_imdb['Votes']=upvote

In [47]:
df_imdb.head(100)

,Name,YearSpan,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,919,680"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"944,475"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"918,585"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"275,044"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"235,412"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"46,901"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,695"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"181,942"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"38,034"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"216,160"

### 10. Details of Datasets from UCI machine learning repositories.

In [48]:
driver= webdriver.Chrome("C://chromedriver.exe")
url= 'https://archive.ics.uci.edu/'


driver.get(url)
driver.maximize_window()
time.sleep(5)

p = driver.current_window_handle

#get first child window
chwd = driver.window_handles

for w in chwd:
#switch focus to child window
    if(w!=p):
        driver.switch_to.window(w)
time.sleep(5)

link=driver.find_element_by_xpath("//span[@class='whitetext']//b")
link.click()

detail=[]
details=driver.find_elements_by_xpath("//tr[1]//td[2]//p[@class='normal']")
for i in details:
    i=i.text
    detail.append(i)

K=7
res=[]
for idx in range(0, K):
    res.append(detail[idx::K])
result=list(res)

<ipython-input-48-d91562badac4>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome("C://chromedriver.exe")
<ipython-input-48-d91562badac4>:20: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  link=driver.find_element_by_xpath("//span[@class='whitetext']//b")
<ipython-input-48-d91562badac4>:24: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  details=driver.find_elements_by_xpath("//tr[1]//td[2]//p[@class='normal']")

In [49]:
df_repo= pd.DataFrame({})

In [50]:
df_repo['Dataset_name']=result[1]
df_repo['Datatype']=result[2]
df_repo['Task']=result[3]
df_repo['Attribute_type']=result[4]
df_repo['No_of_Instances']=result[5]
df_repo['No_of_attributes']=result[6]
df_repo['Year']=result[0][1:]

In [51]:
df_repo.head(622)

,Dataset_name,Datatype,Task,Attribute_type,No_of_Instances,No_of_attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021