In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
import pandas as pd
data= pd.DataFrame()

In [3]:
def ScrappedMovieList(URL):
    page = requests.get(URL)
    soup = BeautifulSoup(page.content)
    scrapped_movies= soup.find_all('td',class_='titleColumn')
    movies=[]
    for movie in scrapped_movies:
        movie=movie.get_text().replace('\n'," ")
        movie=movie.strip(" ")
        movies.append(movie)
    data['movie_names']= movies
movies=ScrappedMovieList("https://www.imdb.com/chart/top/?ref_=nv_mv_250")

In [4]:
def ScrappedRatingsList(URL):
    page = requests.get(URL)
    soup = BeautifulSoup(page.content)
    scrapped_rating= soup.find_all('td',class_='ratingColumn imdbRating')
    ratings=[]
    for i in scrapped_rating:
        i=i.get_text().replace('\n'," ")
        ratings.append(i)
    data['Ratings']= ratings
ScrappedRatingsList("https://www.imdb.com/chart/top/?ref_=nv_mv_250")

In [5]:
data.head(100)

                                          movie_names Ratings
0            1.       The Shawshank Redemption (1994)    9.2
1                       2.       The Godfather (1972)    9.1
2              3.       The Godfather: Part II (1974)    9.0
3                     4.       The Dark Knight (2008)    9.0
4                        5.       12 Angry Men (1957)    8.9
..                                                ...     ...
95               96.       Requiem for a Dream (2000)    8.3
96               97.       Singin' in the Rain (1952)    8.3
97                98.       North by Northwest (1959)    8.3
98  99.       Eternal Sunshine of the Spotless Min...    8.3
99              100.       Ladri di biciclette (1948)    8.3

[100 rows x 2 columns]