In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
import pandas as pd
data = pd.DataFrame()

In [3]:
def ScrappedMovieList(URL):
    page = requests.get(URL)
    soup = BeautifulSoup(page.content)
    indian_scrapped_movies= soup.find_all('td',class_='titleColumn')
    ind_movies=[]
    for movie in indian_scrapped_movies:
        movie=movie.get_text().replace('\n'," ")
        movie=movie.strip(" ")
        ind_movies.append(movie)
    data['Indian_movie_names']= ind_movies
movies=ScrappedMovieList("https://www.imdb.com/india/top-rated-indian-movies/")

In [4]:
def ScrappedRatingsList(URL):
    page = requests.get(URL)
    soup = BeautifulSoup(page.content)
    scrapped_rating= soup.find_all('td',class_='ratingColumn imdbRating')
    ratings=[]
    for i in scrapped_rating:
        i=i.get_text().replace('\n'," ")
        ratings.append(i)
    data['Ratings']= ratings
ScrappedRatingsList("https://www.imdb.com/india/top-rated-indian-movies/")

In [5]:
data.head(100)

                            Indian_movie_names Ratings
0                 1.       Sardar Udham (2021)    8.6
1                      2.       Nayakan (1987)    8.5
2                   3.       Anbe Sivam (2003)    8.5
3            4.       Pariyerum Perumal (2018)    8.5
4            5.       C/o Kancharapalem (2018)    8.5
..                                         ...     ...
95                       96.       Roja (1992)    8.1
96             97.       Dil Chahta Hai (2001)    8.1
97            98.       Rang De Basanti (2006)    8.1
98            99.       OMG: Oh My God! (2012)    8.1
99  100.       Uri: The Surgical Strike (2019)    8.1

[100 rows x 2 columns]