### Webscrapping Selenium Assignment 2

In [2]:
!pip install selenium
import time

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.0.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\users\hp\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.9.0)

In [3]:
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.support.ui import Select

### 1. Naukri search of Data Analyst jobs

In [3]:
driver= webdriver.Chrome("C:/chromedriver.exe")

<ipython-input-3-e33040cb7ecc>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome("C:/chromedriver.exe")

In [4]:
driver.get("https://www.naukri.com/data-analyst-jobs-in-bangalore-bengaluru?k=data%20analyst&l=bangalore%2Fbengaluru")
time.sleep(3)

In [5]:
job_titles=[]
job_location=[]
companies=[]
experience=[]
Naukri=pd.DataFrame({})

In [6]:
title_list= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title_list:
    i=i.text
    job_titles.append(i)
Naukri["Job_title"]=job_titles[0:10]

<ipython-input-6-767967c5b0e2>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_list= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [7]:
company_list=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company_list:
    comp=i.text
    companies.append(comp)
Naukri["Company_name"]=companies[0:10]

<ipython-input-7-d3ce29b69102>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_list=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [8]:
location=driver.find_elements_by_xpath("//span[@title='Bangalore/Bengaluru ']")
for i in location:
    loc=i.text
    job_location.append(loc)
Naukri["Job Location"]=job_location[0:10]

<ipython-input-8-fe51e80f4169>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location=driver.find_elements_by_xpath("//span[@title='Bangalore/Bengaluru ']")

In [9]:
Naukri

,Job_title,Company_name,Job Location
0,Data Analyst,Rupeek Fintech Pvt Ltd,Bangalore/Bengaluru
1,Business Data Analyst(BigId) - Capco - Bangalore,Capco Technologies Pvt Ltd,Bangalore/Bengaluru
2,Data Analyst - Flipkart Analytics,Flipkart,Bangalore/Bengaluru
3,Senior Data Analyst,Pioneer Business Solutions,Bangalore/Bengaluru
4,Sr Data Analyst,Pioneer Business Solutions,Bangalore/Bengaluru
5,Business Data Analyst - Database Design/Mining,AugmatrixGo,Bangalore/Bengaluru
6,Opportunity For Business Data Analyst,Botree Software International Private Limited,Bangalore/Bengaluru
7,Urgent Openings For Data Analyst / Business An...,Flipkart,Bangalore/Bengaluru
8,Software Technologist II - Data Analyst,Philips India Limited,Bangalore/Bengaluru
9,Hiring For Data Analyst - Payment System Intel...,Genpact,Bangalore/Bengaluru

### 2. Naukri Data Scientist jobs

In [10]:
driver= webdriver.Chrome("C:/chromedriver.exe")

<ipython-input-10-e33040cb7ecc>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome("C:/chromedriver.exe")

In [11]:
driver.get("https://www.naukri.com/data-scientist-jobs-in-bangalore-bengaluru?k=data%20scientist&l=bangalore%2Fbengaluru")

In [12]:
job_titles2=[]
job_location2=[]
companies2=[]
experience2=[]
Naukri_Data_Scientist=pd.DataFrame({})

In [14]:
title_list2= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

<ipython-input-14-f6ab07221c5e>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_list2= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [15]:
for i in title_list2:
    i=i.text
    job_titles2.append(i)
Naukri_Data_Scientist["Job_title"]=job_titles2[0:10]

In [16]:
company_list2=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company_list2:
    comp2=i.text
    companies2.append(comp2)
Naukri_Data_Scientist["Company_name"]=companies2[0:10]

<ipython-input-16-de81dc15c34e>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_list2=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [17]:
location2=driver.find_elements_by_xpath("//span[@title='Bangalore/Bengaluru ']")
for i in location2:
    loc2=i.text
    job_location2.append(loc2)
Naukri_Data_Scientist["Location"]=job_location2[0:10]

<ipython-input-17-bdffac07b26e>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location2=driver.find_elements_by_xpath("//span[@title='Bangalore/Bengaluru ']")

In [18]:
Naukri_Data_Scientist

,Job_title,Company_name,Location
0,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,Bangalore/Bengaluru
1,Data Scientist: Artificial Intelligence,IBM India Pvt. Limited,Bangalore/Bengaluru
2,Senior Data Scientist,Kwalee India Pvt Ltd.,Bangalore/Bengaluru
3,Senior Data Scientist - Computer Vision,GE Transportation,Bangalore/Bengaluru
4,Senior Data Scientist | Fortune 500 Supermarke...,TALENT500 TECH (INDIA) PRIVATE LIMITED,Bangalore/Bengaluru
5,Data Scientist /Senior Data Scientist,Dun & Bradstreet,Bangalore/Bengaluru
6,Data Scientist,Visa,Bangalore/Bengaluru
7,Lead Data Scientist,Team4Progress,Bangalore/Bengaluru
8,Lead Data Scientist,TransOrg Solutions Services (P) Ltd.,Bangalore/Bengaluru
9,Senior Data Scientist / Tech Lead - SQL / Pyth...,Exploro Solutions,Bangalore/Bengaluru

### 3.Data Scientist using filters

In [19]:
driver= webdriver.Chrome("C:/chromedriver.exe")
driver.get("https://www.naukri.com/data-scientist-jobs-in-bangalore-bengaluru?k=data%20scientist&l=bangalore%2Fbengaluru")

<ipython-input-19-5c8983672f95>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome("C:/chromedriver.exe")

In [20]:
w=driver.find_element_by_xpath("//div[@class='filterOptns']//span[@class='fleft lH20']")
w.click()
time.sleep(2)
y=driver.find_elements_by_xpath("//div[@class='mt-8 chckBoxCont']//span[contains(text(),'Delhi / NCR')]")
time.sleep(2)
y[0].click()
time.sleep(2)
z=driver.find_element_by_xpath("//div[@class='filterOptns']//span[@title='3-6 Lakhs']")
z.click()

<ipython-input-20-e1117f7f49c1>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  w=driver.find_element_by_xpath("//div[@class='filterOptns']//span[@class='fleft lH20']")
<ipython-input-20-e1117f7f49c1>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  y=driver.find_elements_by_xpath("//div[@class='mt-8 chckBoxCont']//span[contains(text(),'Delhi / NCR')]")
<ipython-input-20-e1117f7f49c1>:8: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  z=driver.find_element_by_xpath("//div[@class='filterOptns']//span[@title='3-6 Lakhs']")

In [21]:
job_titles3=[]
job_location3=[]
companies3=[]
experience3=[]
Naukri_Data_Scientist_Noida=pd.DataFrame({})
title_list3= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title_list3:
    i=i.text
    job_titles3.append(i)
Naukri_Data_Scientist_Noida["Job_title"]=job_titles3[0:10]

<ipython-input-21-6ede7c849dbe>:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_list3= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [22]:
company_list3=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company_list3:
    comp3=i.text
    companies3.append(comp3)
Naukri_Data_Scientist_Noida["Company_name"]=companies3[0:10]

<ipython-input-22-66a8fff65a2a>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_list3=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [24]:
location3=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location3:
    loc3=i.text
    job_location3.append(loc3)
Naukri_Data_Scientist_Noida["Location"]=job_location3[20:30]

<ipython-input-24-44a7aee712d6>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location3=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [25]:
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience:
    i=i.text
    experience3.append(i)
Naukri_Data_Scientist_Noida["Experience"]=experience3[0:10]

<ipython-input-25-f423f21a3b11>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

In [26]:
Naukri_Data_Scientist_Noida

,Job_title,Company_name,Location,Experience
0,Data Scientist,ThinkBumblebee Analytics Pvt. Ltd.,"Pune, Bangalore/Bengaluru, Delhi / NCR\n(WFH d...",2-6 Yrs
1,Data Scientist,Think i,"Kochi/Cochin, Kolkata, Hyderabad/Secunderabad,...",0-2 Yrs
2,Data Scientist,Fractal Analytics,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",3-7 Yrs
3,Academic Counsellor - Data Scientist,GreatLearning,"Gurgaon/Gurugram, Bangalore/Bengaluru",1-4 Yrs
4,Data Scientist,BlackBuck,"Gurgaon, Bengaluru",3-7 Yrs
5,Data Scientist,Country Veggie,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",1-3 Yrs
6,Immediate requirement For Data Scientist,CALIBEHR BUSINESS SUPPORT SERVICES PRIVATE LIM...,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",2-7 Yrs
7,Data Scientist,EXL Service,"Gurgaon/Gurugram, Bangalore/Bengaluru",3-5 Yrs
8,Data Scientist,Urban Company,"Gurgaon/Gurugram, Bangalore/Bengaluru",1-3 Yrs
9,Data Scientist,Hexagon Geosystems Services India P.Ltd.,"Gurgaon/Gurugram, Bangalore/Bengaluru",6-11 Yrs

### 4). Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 
1. Brand 
2. Product Description 
3. Price

In [27]:
driver= webdriver.Chrome("C:/chromedriver.exe")

<ipython-input-27-e33040cb7ecc>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome("C:/chromedriver.exe")

In [28]:
driver.get("https://www.flipkart.com/")

In [29]:
search_button=driver.find_element_by_xpath("//input[@class='_3704LK']")

<ipython-input-29-9aa26aa6b4b6>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_button=driver.find_element_by_xpath("//input[@class='_3704LK']")

In [30]:
search_button.send_keys("sunglasses")

In [31]:
search=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

<ipython-input-31-d4172fb310ed>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [32]:
search.click()

In [33]:

df=pd.DataFrame({})

In [34]:
def sunglass_name(xpath):
    sun=[]
    sunglass=driver.find_elements_by_xpath(xpath)
    for i in sunglass:
        attribute=i.text
        sun.append(attribute)

    return sun[0:]

def sunglass_type(xpath):
    sun=[]
    sunglass=driver.find_elements_by_xpath(xpath)
    for i in sunglass:
        attribute=i.text
        sun.append(attribute)
 
    return sun[0:]

def sunglass_price(xpath):
    sun=[]
    sunglass=driver.find_elements_by_xpath(xpath)
    for i in sunglass:
        attribute=i.text
        sun.append(attribute)

    return sun[0:]

def sunglass_discount(xpath):
    sun=[]
    sunglass=driver.find_elements_by_xpath(xpath)
    for i in sunglass:
        attribute=i.text
        sun.append(attribute)
    return sun[0:]
first_names=sunglass_name("//div[@class='_2WkVRV']")
first_desc=sunglass_type("//a[@class='IRpwTa']")
first_price=sunglass_price("//div[@class='_30jeq3']")
first_discount=sunglass_discount("//div[@class='_3Ay6Sb']/span")
first_next=driver.find_element_by_xpath("//a[@class='_1LKTO3']")

<ipython-input-34-f51bb4b30d1d>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sunglass=driver.find_elements_by_xpath(xpath)
<ipython-input-34-f51bb4b30d1d>:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sunglass=driver.find_elements_by_xpath(xpath)
<ipython-input-34-f51bb4b30d1d>:21: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sunglass=driver.find_elements_by_xpath(xpath)
<ipython-input-34-f51bb4b30d1d>:30: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sunglass=driver.find_elements_by_xpath(xpath)
<ipython-input-34-f51bb4b30d1d>:39: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  first_next=driver.find_element_by_xpath("//a[@class='_1LKTO3']")

In [35]:
first_next.click()
time.sleep(5)
second_names=sunglass_name("//div[@class='_2WkVRV']")
second_type=sunglass_type("//a[@class='IRpwTa']")
second_price=sunglass_price("//div[@class='_30jeq3']")
second_discount=sunglass_discount("//div[@class='_3Ay6Sb']/span")
second_next=driver.find_element_by_xpath("//a[@class='_1LKTO3']")

<ipython-input-34-f51bb4b30d1d>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sunglass=driver.find_elements_by_xpath(xpath)
<ipython-input-34-f51bb4b30d1d>:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sunglass=driver.find_elements_by_xpath(xpath)
<ipython-input-34-f51bb4b30d1d>:21: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sunglass=driver.find_elements_by_xpath(xpath)
<ipython-input-34-f51bb4b30d1d>:30: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sunglass=driver.find_elements_by_xpath(xpath)
<ipython-input-35-0849c7c0a3b5>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  second_next=driver.find_element_by_xpath("//a[@class='_1LKTO3']")

In [36]:
second_next.click()
time.sleep(5)
third_names=sunglass_name("//div[@class='_2WkVRV']")
third_desc=sunglass_type("//a[@class='IRpwTa']")
third_price=sunglass_price("//div[@class='_30jeq3']")
third_discount=sunglass_discount("//div[@class='_3Ay6Sb']/span")

<ipython-input-34-f51bb4b30d1d>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sunglass=driver.find_elements_by_xpath(xpath)
<ipython-input-34-f51bb4b30d1d>:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sunglass=driver.find_elements_by_xpath(xpath)
<ipython-input-34-f51bb4b30d1d>:21: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sunglass=driver.find_elements_by_xpath(xpath)
<ipython-input-34-f51bb4b30d1d>:30: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sunglass=driver.find_elements_by_xpath(xpath)

In [37]:
names=first_names+second_names+third_names
description=first_desc+second_type+third_desc
price=first_price+second_price+third_price
discount=first_discount+second_discount+third_discount

In [38]:
df["Sunglass_names"]=names
df["Sunglass_description"]=description
df["price"]=price
df["Discount"]=discount

In [39]:
df[0:100]

,Sunglass_names,Sunglass_description,price,Discount
0,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹336,83% off
1,PIRASO,"UV Protection Rectangular, Over-sized Sunglass...",₹349,88% off
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹513,35% off
3,SRPM,UV Protection Wayfarer Sunglasses (56),₹188,85% off
4,Elligator,UV Protection Round Sunglasses (54),₹248,90% off
...,...,...,...,...
95,PIRASO,UV Protection Wayfarer Sunglasses (32),₹187,88% off
96,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹259,87% off
97,NuVew,"UV Protection, Night Vision, Riding Glasses Sp...",₹270,65% off
98,GANSTA,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹198,88% off
99,PIRASO,UV Protection Butterfly Sunglasses (60),₹449,82% off

### 5. Flipkart iphone webscrapping

In [40]:
driver= webdriver.Chrome("C:/chromedriver.exe")
df_flipkart_rating_details=pd.DataFrame({})

<ipython-input-40-efc22085c42a>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome("C:/chromedriver.exe")

In [41]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"
driver.get(url)

In [42]:
flipkart_iphone1=pd.DataFrame({})

In [43]:
driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click()

<ipython-input-43-634bd344a734>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click()

In [44]:
def ratings(xpath):
    rating=[]
    ratings1=driver.find_elements_by_xpath(xpath)
    for i in ratings1:
        i=i.text
        rating.append(i)
    return rating

In [45]:
def summary(xpath):
    summary1=[]
    sum1=driver.find_elements_by_xpath(xpath)
    for i in sum1:
        i=i.text
        summary1.append(i)
    return summary1

In [46]:
def descript(xpath):
    description=[]
    desc=driver.find_elements_by_xpath(xpath)
    for i in desc:
        i=i.text
        description.append(i)
    return description

In [47]:
def next_link():
    driver.find_element_by_xpath("//span[contains(text(),'Next')]").click()

In [48]:
flipkart_ratings=ratings("//div[@class='_3LWZlK _1BLPMq']")
flipkart_summary=summary("//p[@class='_2-N8zT']")
flipkart_description=descript("//div[@class='t-ZTKy']")

<ipython-input-44-64130772d72e>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ratings1=driver.find_elements_by_xpath(xpath)

In [50]:
for i in range(10):
    flipkart_ratings[i]=ratings("//div[@class='_3LWZlK _1BLPMq']")
    flipkart_summary[i]=summary("//p[@class='_2-N8zT']")
    flipkart_description[i]=descript("//div[@class='t-ZTKy']")
    time.sleep(2)
    next_link()
    time.sleep(2)

<ipython-input-44-64130772d72e>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ratings1=driver.find_elements_by_xpath(xpath)
<ipython-input-47-adfdaf6beb5f>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//span[contains(text(),'Next')]").click()

In [51]:
single_list = []
for elem in flipkart_ratings:
    single_list.extend(elem)
single_list[0:100]

['5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '3',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '4',
 '5',
 '4',
 '3',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '3',
 '5',
 '5',
 '3',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '3',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '3',
 '5',
 '5',
 '5',
 '5',
 '5',
 '3',
 '4',
 '5',
 '5']

In [52]:
single_list_summary = []
for elem in flipkart_summary:
    single_list_summary.extend(elem)
single_list_summary[0:100]

['Worth every penny',
 'Pretty good',
 'Fabulous!',
 'Mind-blowing purchase',
 'Excellent',
 'Super!',
 'Just wow!',
 'Terrific purchase',
 'Awesome',
 'Decent product',
 'Awesome',
 'Worth every penny',
 'Wonderful',
 'Classy product',
 'Must buy!',
 'Wonderful',
 'Mind-blowing purchase',
 'Good quality product',
 'Fabulous!',
 'Good quality product',
 'Does the job',
 'Best in the market!',
 'Excellent',
 'Mind-blowing purchase',
 'Super!',
 'Best in the market!',
 'Mind-blowing purchase',
 'Classy product',
 'Brilliant',
 'Most Price worthy Iphone',
 'Excellent',
 'Terrific purchase',
 'Fabulous!',
 'Value-for-money',
 'Highly recommended',
 'Really Nice',
 'Great product',
 'Mind-blowing purchase',
 'Terrific purchase',
 'Great product',
 'excellent',
 'Simply awesome',
 'Wonderful',
 'Fabulous!',
 'Perfect product!',
 'Mind-blowing purchase',
 'Good choice',
 'Best in the market!',
 'Super!',
 'Classy product',
 'Super!',
 'Absolute rubbish!',
 'Terrific',
 'Wonderful',
 'Excellent',
 'Worth every penny',
 'Must buy!',
 'Terrific',
 'Worth every penny',
 'Delightful',
 'Awesome',
 'Perfect product!',
 'Just okay',
 'Fabulous!',
 'Fabulous!',
 'Just okay',
 'Just wow!',
 'Delightful',
 'Terrific purchase',
 'Perfect product!',
 'Classy product',
 'Terrific',
 'Terrific',
 'Just wow!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Just wow!',
 'Worth every penny',
 'Just wow!',
 'Super!',
 'Good choice',
 'Simply awesome',
 'Great product',
 'Nice',
 'Mind-blowing purchase',
 'Worth every penny',
 'Mind-blowing purchase',
 'Awesome',
 'Awesome',
 'Wonderful',
 'Does the job',
 'Fabulous!',
 'Super!',
 'Terrific',
 'Fabulous!',
 'Great product',
 'Just okay',
 'Value-for-money',
 'Mind-blowing purchase',
 'Terrific']

In [53]:
single_list_description = []
for elem in flipkart_description:
    single_list_description.extend(elem)
single_list_description[0:100]

['Undoubtedly Iphone 11 is the most successful model till now and its performance is extraordinary and the security features are very impressive, display is more vibrant sound quality Camera Quality 5*****, but Iphone should add accessories too and act like scrooge.',
 "I've used this phone for over a month now and here are my takeaways.\nI would like to first talk about the best things about this phone and then the cons of it.\n\nPros:\nThis phone is a performance beast. It handles large games and applications effortlessly and you won't find any stutters or lags while playing graphic intensive games like pubg, cod , mortal kombat and asphalt.\n\nThis phone has only 4gb ram and yet the ram management is amazing, it can keep 3 heavy games in memory without reload...\nREAD MORE",
 'I purchased the iPhone 11 a month back. I must say Apple has impressed me yet again . I have been an Apple user for past 5 years . The phone is power packed with amazing features . What impressed me the most was the battery backup the phone offers . Battery can easily run upto 1.5 days in single charge with moderate to\nHeavy usage . If you’re looking for a value for money device , I don’t see any other phone in the price range which can match the iPhone 11 .\nOne thing I didn’t like was that ...\nREAD MORE',
 'Excellent camera 📸 And Display touching very Nice And Smooth and very improvement against\nI phone 11 and new processor is very fast',
 'A perfect phone and a good battery super camera and the sound is dynamic overall the phone is perfect for upgrading from lower iPhone model to iPhone 11',
 'This is my first ever iPhone.\nAnd I truly don’t regret switching to IOS from my Android.\n\nIt is easily an alternative to a DSLR camera.\nIf you’re obsessed with photos and videos, just don’t think twice or don’t compare to other androids(Samsung S10 lite or OnePlus 8/8T), as it’s far better from them in every field.\nComparing will only make you confused.\n\nI am getting an average Screen on Time of around 10 hours with 30 percent left. I haven’t let my device discharged below 30 % as it aff...\nREAD MORE',
 'The ultimate performance\nCamera is superb\nThe battery backup also very good i never saw iphone gives this much of battery backup\nIf any one wana buy iphone 11 definitely i will recommend this mobile\nIt has the better battery and powerfull processer peak performance glorious camera and the display also 100% high quality lcd display if u had money for for 12 if u dont wana invest much money on that then go for iphone 11 it has maximum same specs only main difference between the 12 and 11 is...\nREAD MORE',
 'I use a Note10+ and have been using both iOS and Android devices.\n\nCamera has really good features and portraits are super good, better than Samsung flagship. Overall camera setup can still be enhanced and hopeful for better upgrades on software in next release\n\nOperating system is quite a breeze and user experience of daily usage is very high as compared to Android. I moved to iOS very swiftly in 2 days for all my office work from Note10+\n\nBattery holds up quite well with 4 hrs of call and ...\nREAD MORE',
 'The phone is completely good\nAs far as camera Apple is king of it\nAnd its a beast in performance\nAnd the battery is pretty good too',
 'Everything u ll like it when u use this iPhone. Simple changes only not many to lower models but it’s nice to use. Little heavy compared to previous models like 7,8',
 'Can’t beat the software and hardware integration of apple.\nPerforms like a beast. Great quality camera\n6-7 hours screen on time which is good. Nothing much to complaint about the screen. Good connectivity speeds.\nGreat buy and Flipkart’s delivery top notch as usual',
 'iPhone is delivered on time. Display is great u won’t feel that it’s a hd panel. Quality is excellent. Sounds is great it has stereo setup. Camera is good. iOS 14.2 comes in the box. U roughly get 113 gb free if u buy 128 gb. This is my second iPhone and i love it. Value for money.',
 'Nice value for money good and best price I phone mind blowing camera processor very fast other android mobile I am happy India top selling phone 2020',
 'I got this phone for good price hence 5 star for it , and over quality is good because the price to buy iphone was worth at 41000',
 "Camera is excellent just lack of telephoto mode frankly dose not needed either night mode is just 🙏🙏 12 12 12 mp (2back 1 front) camera lover just don't miss the deal\nDisplay lcd but feel like super amoled\nAt46999 with no cost EMI just a best deal",
 "I genuinely liked it. One of the best mobile phones I have used. It's sho smooth and it's security is very astonishing. Plus it has a very good camera quality. so overall it's a win win.",
 'Flipkart honoured on time delivery, I have used 6s , now I have upgraded apple 11 . Really great experience for new iPhone. Thank you apple and flipkart.',
 'Awesome camera, smooth and fast UI, display is great (though not LED) but the black area at the top could have been reduced. Battery remains a day even if used heavily. Charger in the box is ok, but 12 or 18W could have been nothing like anything. Overall an excellent product and comfortable to use. I have got it almost a month back and so far so good.',
 'Good product nice experience with Flipkart but I am unhappy with the packaging part because such a valuable product comes under normal cover without any additional wrapping and that too for Plus customers. Expecting good Packaging in future from Sellers.',
 'I was torn between the oneplus 8 pro and the iphone 11. I had to shell out extra money for this, but I say if you can afford it, this truely is the best package.\nMind blowing camera, battery and overall performance. Face Id works like magic even in complete darkness without firing up the screen brightness. The phones with in display fingerprint scanners do this at night time and it really burns your eyes.\nI wanted the oneplus for its display but tbh the OLEDs on oneplus is really bad. Flick...\nREAD MORE',
 "phone is good but in display is 720p lcd in this price range we can get full hd OLED displays with higher refresh rate processor is very good camera is nice but looks kind of oldish in front of todays phone also there's no charging in box had to buy it seperately",
 'Don’t expect much from front camera… especially who loves beauty mode and filters.. back cameras are good…video department is always plus point in iPhones… battery capacity is really surprising lasts for one day at least… performance always good and smooth… speaker’s quality is good…built quality best and haptic feedback is enjoyable…\nNote : images are good after you edit',
 'Seller - SuperComNet ( my trust in you has grown deeper. Thanks for the genuine product )\nThe package came packed perfectly. The box was sealed which gave me a big relief.\n\nApple needs no introduction since its the dominant market player. I just love the way how IPhone 11 stands out so boldly. The moment I took it out from the box, I could feel the premium intensity. The body is remarkable and crafted for giving you a elite vibe.\n\nCamera is to die for. There is no other phone that can beat...\nREAD MORE',
 "i was confused between 11 and 11 pro. i was going towards 11 pro, but the screen size was not enough for me.\nAnd i saw 11 in the showroom. i didn't find much difference in screen quality.And cameras seems to be ok with me. And i saw offer's in flipkart and made the purchase.\nthe device is fabulous. The hardware and software quality is excellent. The new iOS is something you need to experience yourself. The drawback i found was absence of fast charger, but the pricing can compensate that. Am...\nREAD MORE",
 "It's a great phone. From camera to display everything is best for the price.\nBest camera , best performance. I think everyone should buy it . This phone has best battery life so far in iphone series which I had used earlier. Happy to have it. Thanks Flipkart",
 'Really very nice... my dad gifted me really I am soo happy with this phone love it 😇',
 'Released in 2019\nIn 2021 still the best in segment\nPros:\nCamera 4/5 night photograph takes -1\nPerformance 5/5\nBattery backup normal usage 5/5 should last more than a day\nHeavy usage battery backup 4/5 as compared have a smaller battery but should give around 5-6h of heavy usage like game play\nBattery charging from 18w charger 3.5/5 not as fast as compared to dash charger but does the job well 0-50% in somewhat takes 40 mins which is ok\n\nCons:\nNo earpod\nNo 3.5mm jack connector I remember gett...\nREAD MORE',
 'Got my iPhone 11 today! It’s totally worth it even in 2021. Takes wonderful images and the stabilisation of video on this phone is just awesome although it is a 2019 model. Performance wise it’s ultra fast as expected to be. The only drawback per paper is the screen it has, but in usage I noticed nothing bad and the screen was totally fine for me!\nI upgraded from Nokia 6.1 Plus and it’s great 🤩',
 'Wow wow and wow, in 48k you will not get anything better than this, processor is awsome, camera is a beast, display is superb, this is my first iphone, and I am already in love with these',
 'Reviewing within 1st Month\n\n\n1st Month Review\nThis is my first Iphone. So been new to the Ios Environment i faced some basic issues. Whatever issues i am facing is because of change in environment.\nVideo Output is amazing.\nBattery - Typical One Day Battery. 20 W fast charger is amazing which charges the iphone within 40-60 Mins ( purchased separately)\nCamera - Good and Natural Colours. ( I have Samsung S21+ and not at par with its camera) but the output is same all the time which is good.\n...\nREAD MORE',
 'Value for money product. This iphone 11 is really amazing. Again nice release by apple. Great camera, battery backup is excellent. I just love this phone',
 'Well , as we all know if its not an Iphone , its not an iphone . The iphones are always beast . The camera game has been level up . The A13 Bionic is just fabulous . The update this year are certainly the camera which is damn good with d addition of wide angle lens as well as ultra wide . If anyones purchasing an iphone for the first time , do opt for the black color . Its just feels more than premium . Battery life is damn good with lasting fully a day . Overall a nice package . Well managed...\nREAD MORE',
 "Just an awesome phone...upgraded from 6s to 11 and trust me guys it's super cool with amazing features..loved it ♥️ and a big thank you to Flipkart for delivering it in just 2 days ?",
 'As usual a great product from Apple. but the look wise there were some scope to make it more attractive. from the back it looks nice. picture quality is awesome . face id is blazing fast. The lightning fast bionic processor makes the phone butter smooth.Battery back up is unbeatable and best of the released iPhone.full display is still missing. however, a iPhone is a iPhone. The iPhone lovers know the value of an iPhone 🙂',
 'Amazing camera quality as expected, battery also has very good performance. Display, body, and touch experience is the best I’ve ever had. Sound quality of speakers is more than sufficient. Apple is known for it’s customer friendly security services and I can see it how. The A13 processor is the best in its work. So I would definitely recommend it for everyone who are looking for it, just go for it without delay.\n\nThe most amazing thing it the delivery. Flipkart has delivered it in the span ...\nREAD MORE',
 "Great phone and camera and timely delivery by Flipkart!\nYou wouldn't love the display if you're coming from a one plus or Samsung, go for iPhone 12. If display isn't your priority, this is a great choice.",
 "Great quality at not so great price, But worth it. Don't go for specs, better performance than so called spec master Chinese phones. The display could have been atleast an smiled one with atleast 90hz at this price point.",
 'After using more than a year of using iPhone11 here is my complete review:\n1. Camera is almost perfect 8/10 except for some advantages you’ll see in Samsung S20. (Zoom, Better Image stabilisation etc)\n2. Battery performance is 10/10\n3. OS performance is 10/10\n4. Build Quality 9/10 as you need to buy good quality back cover with tampered\n5. Face Lock feature is awesome 10/10\n6. You need to buy new charger but don’t buy more than 18 watt charger optimum is 15 / 18 watt charger. For fast chargin...\nREAD MORE',
 'Fkng awesome phone, you won’t regret spending money on it.\nBattery is 3110mah, sufficient amount if you’re not continuously using it. Performance is up-to to the point.\nFace ID is extremely fast and smooth, you wont even realize you’ve unlocked your phone.\nFYI I’m reviewing this product after 3 months of usage because I wanted to know how the battery and other things are in this phone. So if you are thinking of buying it, Just go for it.',
 'This iphone 11 by apple is simply amazing . Ios is so crisp and smooth that you will love .\nI will definitely recommend it , earlier i was confused between iphone 11 and oneplus 9r. But i have made a correct choice.\nGo with this beast without any hasitation.',
 'I liked it very much, super performance , giving best battery life around one day. fast charging is super. camera quality is excellent no words.',
 "Incredible phone with a excellent battery and a better experience.\nThose who are concerned about its screen quality.Trust me this is one of the best IPS panal.\nPreviously I used OnePlus 5t which had a full hd AMOLED display,but I didn't notice a huge difference.\nIf a get a fabulous deal then just go for it.",
 'Dont think too much guys. perfect phone for day today use. If you are familiar with apple then go for it. camera is good which can match up with next 3 years, battery is good than all other iPhones. Definitely morning to evening-8 it can do. Display is not that bad, you will be satisfied. Best mobile worth for the money. Best for one handed issue. Very less overheating than other mobiles in market. Go for 128 gb or 256. This iphone can live upto next 3-4 years for sure. Enjoy Apple👌🏾',
 "This is my first I phone and I'm very happy to have it but it's battery life is not good as Android have that's all. All over phone is Awesome",
 'Excellent service by Flipkart. The phone is true value for money, the camera is great especially the low light night photography.\nThe processor is fast making gaming a lot of fun.\nI read a lot of negative reviews about the display but I was using a OnePlus before and somehow the iphone 11 display is more easy on the eyes and the adaptive brightness is more effective than any of the other phones that I have used.\nCharging is a bit slow owing to the smaller charger included in the box inste...\nREAD MORE',
 'It’s a quiet good for new users. And I’m happy with it. Thanks apple and Flipkart too. 😊♥️',
 'I have my first iPhone\nI love it\nusing 15 day very good performance\n\nMobile- 5/4\nCharging- 5/5\nCamera- 5/5\nBattery backup -5/5\nDisplay- 5/4\nCourier facility- 5/0 Very bad\nCourier facility is poor. I have not happy in courier facility..',
 'The only thing i didnt like about the phone is its display as its only an non full hd display means its not 1080p one and not an amoled one of course but still better than all the lcds out there in the market but at this price point android alternatives provide 144hz samoled like the rog phone 5, Aside from that the performance is top notch as you would expect from an Iphone and will last you for many years unlike androids who stop getting updates in less than 2 years',
 "Good display in this phone however screen is LCD, you'll get a bit disappointed .\nCamera is superb , I have tried underwater shot is sea water, works good. Video quality is a bit inferior as compared to similar price range phones.\nPerformance is superb. Maybe the best in this range , even with A13 bionic chip and 4GB ram, it works really smooth.\nBattery is fine, you'll get decent backup.\nNo charger inside , that's very disappointing for 1st time users. I had previously iPhone and iPad so it...\nREAD MORE",
 'This is very second time I am using iphone I am not a huge fan of I phone but as my past experience iphone is always iphone whn you use it in your hand and it feel firmly buildup and camera quality is awesome processing is fast and realy smooth while using it.Night mode is awesome and photography is brilliant. Go for it and it will be great if you buy it worth it',
 'I’d like to start by saying that the overall experience with the iPhone 11 is super smooth and amazing in every aspect. It’s an absolute powerhouse.\n\nPerformance - The Apple A13 Bionic is super optimised. You will not face any performance issue at all. You will never have to worry about the lag on this one.\n\nBattery - Battery life is one of the best you can get in a iPhone at this time. It’s better than the XR. Average use can get you more than a day and heavy use will get you through the da...\nREAD MORE',
 'Worst product delivered by Flipkart\nAfter 10days of delivery mobile will not work properly\nVolume and silent buttons are not working.\nNo worth to buy in Flipkart.\nPlease don’t buy apple products in Flipkart',
 'Good buy.. working perfectly !\n\nThat was upgrade from 6S to 11. I see no deference in both the phones except:\n1. Battery performance\n2. Camera quality\n3. Face detection unlock\n\nGo for it..!',
 "Ok, so after almost 3 years I am again back into Apple Ecosystem. Switching from Android to iOS has just one disadvantage imo, and that's you can't take your WhatsApp data restored to iOS. Everything starts fresh, pretty sad. I am so glad that I chose iPhone 11 over 12. With 5G nowhere in India for at least an year will have an added advantage to iPhone 11. Spending extra 25k just for A14 chipset and OLED display is not a clever choice. Anyways, a fantastic phone with everything fit perfectly...\nREAD MORE",
 '🤩🤩🤩🤩🤩🤩I loved the Phone.. Every time I pick up the phone it makes me happy... The phone is beast💪💪 and the camera is fabulous 🥰🥰🥰.. I think one of my great purchase from Flipkart.. Thank you Filpkart..',
 'I upgraded from one plus 6 to iPhone 11 and it’s too good. Very smooth, battery also good. I love it. And thanks flipkart for fast delivery.',
 'I will just say its an awesome phone. Starting from speed , battery life, resolutions, camera quality, features it is superior in all department versus its predecessor. Also would like to state that at this price point it is an extraordinary value product. Recommend anyone who is looking for a highend smart phone within a range of 60k to 100K. .',
 'Have used both iPhone X and iPhone XR and I can say upgrade only if you want better camera it’s awesome with great display even though lcd but still better than oled on iPhone X or XS.\nThe camera is huge improvement in low light and very nice improvement in less light and times better than iPhone X but not that big improvement on iPhone XR in day light but very big improvement in low light.',
 'Just go for it without a second thought, if you are looking for a best phone in the market and want to save 40k to not go for iPhone 11 pro, the only thing i think this product is feel missing is Oled display software do the job of portrait, so go for it rather than 11 pro. Everything is at top with this phone. I am writing this review after using this phone for more than 2 months.',
 'Nice camera for front and back.. The display is not as good because it makes sound when we tap on it! But overall it’s a good phone.',
 'Best iphone ever.. best value for money phone.. easy to hold and face unlock is very fast and works even in dark.. looks very cool.. delivered in one day.. best flipkart experience and get also the original product. Red one is the .best color and most selling color so I love red one.',

## 6. Flipkart sneakers details

In [55]:
driver = webdriver.Chrome("C:/chromedriver.exe")
driver.get("https://www.flipkart.com")
df_flipkart=pd.DataFrame({})

<ipython-input-55-d379e45411ea>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("C:/chromedriver.exe")

In [56]:
driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys("sneakers")
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

<ipython-input-56-1213088bead2>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys("sneakers")
<ipython-input-56-1213088bead2>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [57]:
def sneakers(xpath):
    sneaker_brands=[]
    sneakers_brands=driver.find_elements_by_xpath(xpath)
    for i in sneakers_brands:
        sneaker=i.text
        sneaker_brands.append(sneaker)
    return sneaker_brands

In [58]:
sneakers_brands1=sneakers("//div[@class='_2B099V']//div[@class='_2WkVRV']")
sneakers_description=sneakers("//a[@class='IRpwTa']")
sneakers_price=sneakers("//div[@class='_30jeq3']")
sneakers_discount=sneakers("//div[@class='_3Ay6Sb']")

<ipython-input-57-43e65d6308ff>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sneakers_brands=driver.find_elements_by_xpath(xpath)

In [60]:
for i in range(4):
    sneakers_brands1[i]=sneakers("//div[@class='_2B099V']//div[@class='_2WkVRV']")
    sneakers_description[i]=sneakers("//a[@class='IRpwTa']")
    sneakers_price[i]=sneakers("//div[@class='_30jeq3']")
    sneakers_discount[i]=sneakers("//div[@class='_3Ay6Sb']")
    time.sleep(2)
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(2)

<ipython-input-57-43e65d6308ff>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sneakers_brands=driver.find_elements_by_xpath(xpath)
<ipython-input-60-5366a26e8caa>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

In [61]:
final_sneaker_brand = []
for elem in sneakers_brands1:
    final_sneaker_brand.extend(elem)

In [62]:
final_sneaker_descr = []
for elem in sneakers_description:
    final_sneaker_descr.extend(elem)

In [63]:
final_sneaker_price = []
for elem in sneakers_price:
    final_sneaker_price.extend(elem)

In [64]:
final_sneaker_discount = []
for elem in sneakers_discount:
    final_sneaker_discount.extend(elem)

In [65]:
flipkart_sneaker=pd.DataFrame({})
flipkart_sneaker["Brand"]=final_sneaker_brand[0:100]
flipkart_sneaker["Description"]=final_sneaker_descr[0:100]
flipkart_sneaker["Price"]=final_sneaker_price[0:100]
flipkart_sneaker["Discount"]=final_sneaker_discount[0:100]

In [66]:
flipkart_sneaker

,Brand,Description,Price,Discount
0,Robbie jones,Sneakers For Men,₹499,50% off
1,believe,Sneakers for men(black_6) Sneakers For Men,₹449,55% off
2,India hub,Fashionable casual sneakers shoes Sneakers For...,₹499,83% off
3,Extoes,Relaxed Attractive Combo pack of 3 Sneakers Fo...,₹729,51% off
4,Robbie jones,Sneakers For Men,₹499,50% off
...,...,...,...,...
95,Khadim's,Birde Trendy Casual Shoes Sneakers For Men,"₹1,999",60% off
96,SPADE CLUB,Sneakers For Men,₹746,55% off
97,Robbie jones,Sneakers for men(black_6) Sneakers For Men,₹499,45% off
98,Kreverse,Fashionable casual sneakers shoes Sneakers For...,₹199,25% off
99,NIKE,Relaxed Attractive Combo pack of 3 Sneakers Fo...,"₹4,995",57% off

### 7. Myntra Webscrapping

In [67]:
driver= webdriver.Chrome("C:/chromedriver.exe")

<ipython-input-67-e33040cb7ecc>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome("C:/chromedriver.exe")

In [68]:
driver.get("https://www.myntra.com/shoes")
df_myntra=pd.DataFrame({})

In [71]:
color_filter=driver.find_element_by_xpath("//ul//li[@class='colour-listItem']//label[1]")
color_filter.click()

<ipython-input-71-3d99af24bae8>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  color_filter=driver.find_element_by_xpath("//ul//li[@class='colour-listItem']//label[1]")

In [72]:
shoe_price_filter=driver.find_element_by_xpath("//ul[@class='price-list']//li[2]")
shoe_price_filter.click()

<ipython-input-72-7bfb2bf428da>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  shoe_price_filter=driver.find_element_by_xpath("//ul[@class='price-list']//li[2]")

In [73]:
def shoe_brands():
    shoe_brands=[]
    brands=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in brands:
        i=i.text
        shoe_brands.append(i)
    return shoe_brands

In [74]:
def shoe_descr():
    shoe_desc=[]
    description=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']//h4[@class='product-product']")
    for i in description:
        i=i.text
        shoe_desc.append(i)
    return shoe_desc

In [75]:
def shoe_price():
    shoe_price=[]
    prices=driver.find_elements_by_xpath("//div[@class='product-price']")
    for i in prices:
        i=i.text
        shoe_price.append(i)
    return shoe_price

In [76]:



next_button=driver.find_element_by_xpath("//li[@class='pagination-next']")
first_shoe_name=shoe_brands()
first_shoe_desc=shoe_descr()
first_shoe_price=shoe_price()
next_button.click()
time.sleep(3)
second_shoe_name=shoe_brands()
second_shoe_desc=shoe_descr()
second_shoe_price=shoe_price()
next_button.click()
time.sleep(3)
third_shoe_name=shoe_brands()
third_shoe_desc=shoe_descr()
third_shoe_price=shoe_price()

<ipython-input-76-b4a0b5d17cd9>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  next_button=driver.find_element_by_xpath("//li[@class='pagination-next']")
<ipython-input-73-e878c0b355bd>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brands=driver.find_elements_by_xpath("//h3[@class='product-brand']")

In [77]:
df_myntra["shoe_brands"]=first_shoe_name+second_shoe_name+third_shoe_name
df_myntra["shoe_description"]=first_shoe_desc+second_shoe_desc+third_shoe_desc
df_myntra["shoe_price"]=first_shoe_price+second_shoe_price+third_shoe_price

In [78]:
df_myntra[0:100]

,shoe_brands,shoe_description,shoe_price
0,Nike,AIR ZOOM PEGASUS Running Shoes,Rs. 8995Rs. 9995(10% OFF)
1,Nike,Air Zoom Pegasus 38 Shield Run,Rs. 10345Rs. 11495(10% OFF)
2,Nike,Men Zoom Span 4 Running Shoes,Rs. 7195
3,Puma,Men Jamming 2.0 Running Shoes,Rs. 10399Rs. 12999(20% OFF)
4,Nike,Men FLIGHT LEGACY Sneakers,Rs. 7995
...,...,...,...
95,J.FONTINI,Men Textured Leather Formal Loafers,Rs. 8990
96,KLEAT,Men Suede Flat Boots,Rs. 8999
97,Geox,Women Quilted Leather Pumps,Rs. 8999
98,Saint G,Women Heeled Boots,Rs. 9500
99,Saint G,Women Leather Heeled Boots,Rs. 9500

### 8. Amazon Laptop webscrapping

In [79]:
driver= webdriver.Chrome("C:/chromedriver.exe")

<ipython-input-79-e33040cb7ecc>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome("C:/chromedriver.exe")

In [80]:
driver.get("https://www.amazon.in/")

In [81]:
driver.find_element_by_id("twotabsearchtextbox").send_keys("Laptop")

<ipython-input-81-15203cb803fe>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("twotabsearchtextbox").send_keys("Laptop")

In [82]:
driver.find_element_by_id("nav-search-submit-button").click()

<ipython-input-82-88d29b7e76a7>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("nav-search-submit-button").click()

In [83]:
w=driver.find_element_by_xpath("//span[@class='a-list-item']//span[contains(text(),'Intel Core i7')]")
w.click()

<ipython-input-83-f896acd4a215>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  w=driver.find_element_by_xpath("//span[@class='a-list-item']//span[contains(text(),'Intel Core i7')]")

In [84]:
# w1=driver.find_element_by_xpath("//span[@class='a-list-item']//span[contains(text(),'Intel Core i9')]")
# w1.click()

In [85]:
laptop_df=pd.DataFrame({})

In [86]:
titles=[]
ratings=[]
price=[]

In [87]:
laptops_title=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in laptops_title:
    title=i.text
    titles.append(title)
laptop_df['laptop_title']=titles[0:10]

<ipython-input-87-d9e640bea24b>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  laptops_title=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")

In [88]:
laptop_rating=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]//span[1]')
# print(laptop_rating.get_attribute('aria-label'))
time.sleep(2)
for i in laptop_rating:
    i=i.get_attribute('aria-label')
    ratings.append(i)
ratings[0:10]
K=4
res=[]
for idx in range(0, K):
    res.append(ratings[idx::K])
print("Stepped splitted List : " + str(res))
result=list(res)
laptop_df['Ratings']=result[0][0:10]

<ipython-input-88-f804b84a79bc>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  laptop_rating=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]//span[1]')

Stepped splitted List : [['4.0 out of 5 stars', '4.3 out of 5 stars', '4.0 out of 5 stars', '4.3 out of 5 stars', '4.2 out of 5 stars', '4.6 out of 5 stars', '4.2 out of 5 stars', '4.3 out of 5 stars', '5.0 out of 5 stars', '3.8 out of 5 stars', '5.0 out of 5 stars', '3.7 out of 5 stars', '4.4 out of 5 stars', '4.3 out of 5 stars', '4.3 out of 5 stars', '4.0 out of 5 stars', '4.3 out of 5 stars', '4.6 out of 5 stars', '4.1 out of 5 stars', '4.7 out of 5 stars', '4.1 out of 5 stars', '4.2 out of 5 stars', '2.0 out of 5 stars', '4.3 out of 5 stars', '4.4 out of 5 stars', '4.1 out of 5 stars', '3.9 out of 5 stars'], [None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], [None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], [None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]]

In [89]:
laptop_price=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in laptop_price:
    prices=i.text
    price.append(prices)
laptop_df['prices']=price[0:10]
print(price[0:10])

<ipython-input-89-2c7474103fa7>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  laptop_price=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

['1,57,990', '89,990', '3,73,999', '84,990', '57,990', '1,13,990', '1,09,990', '89,990', '88,490', '57,999']

In [90]:
laptop_df

,laptop_title,Ratings,prices
0,"Lenovo Legion5 Pro 11th Gen Intel Core i7 16"" ...",4.0 out of 5 stars,"1,57,990"
1,Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...,4.3 out of 5 stars,"89,990"
2,"Microsoft Surface Laptop Studio - 14.4"" Touchs...",4.0 out of 5 stars,"3,73,999"
3,HP Pavilion (2021) Intel 11th Gen Core i7 14 i...,4.3 out of 5 stars,"84,990"
4,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.2 out of 5 stars,"57,990"
5,"ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 c...",4.6 out of 5 stars,"1,13,990"
6,Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 1...,4.2 out of 5 stars,"1,09,990"
7,Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...,4.3 out of 5 stars,"89,990"
8,Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...,5.0 out of 5 stars,"88,490"
9,(Renewed) Dell Intel Core i7 6th Gen 14-Inch(3...,3.8 out of 5 stars,"57,999"

## 9. DataScientist jobs in Noida-Ambition Box

In [91]:
driver= webdriver.Chrome("C:/chromedriver.exe")

<ipython-input-91-e33040cb7ecc>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome("C:/chromedriver.exe")

In [92]:
driver.get("https://www.ambitionbox.com/")
driver.find_element_by_xpath("//a[@class='link jobs']").click()
time.sleep(2)
driver.find_element_by_name("ab_jobsSearch").send_keys("Data Scientist")
driver.find_element_by_xpath("//span[@class='ctas-btn-medium']").click()
time.sleep(5)
driver.find_element_by_xpath("//p[contains(text(),'Location')]").click()
time.sleep(4)
driver.find_element_by_id("location_Noida").click()
time.sleep(2)
#location=[]
#locations=driver.find_elements_by_xpath("//']")
#for i in locations:
 #   loc=i.text
  #  location.append(loc)
#location

Ambition_box=pd.DataFrame({})

<ipython-input-92-ac3a7a3933fb>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//a[@class='link jobs']").click()
<ipython-input-92-ac3a7a3933fb>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_name("ab_jobsSearch").send_keys("Data Scientist")
<ipython-input-92-ac3a7a3933fb>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//span[@class='ctas-btn-medium']").click()
<ipython-input-92-ac3a7a3933fb>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//p[contains(text(),'Location')]").click()
<ipython-input-92-ac3a7a3933fb>:9: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("location_Noida").click()

In [99]:
Companies=[]
company_name=driver.find_elements_by_xpath("//p[@class='company body-medium']")
for i in company_name:
    company=i.text
    Companies.append(company)
    
Ambition_box['Company_name']=Companies

<ipython-input-99-cab4521cd620>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_name=driver.find_elements_by_xpath("//p[@class='company body-medium']")

In [96]:
days=[]
posted_on=driver.find_elements_by_xpath("//div[@class='other-info']//span[@class='body-small-l']")
for i in posted_on:
    post=i.text
    days.append(post)
print(days)
K = 2
res = []
for idx in range(0, K):
    res.append(days[idx::K])
print("Stepped splitted List : " + str(res))
result=list(res)
Ambition_box['Posted_on']=result[0]

<ipython-input-96-4cbf67b289ac>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  posted_on=driver.find_elements_by_xpath("//div[@class='other-info']//span[@class='body-small-l']")

['8d ago', 'via naukri.com', '1d ago', 'via naukri.com', '3d ago', 'via naukri.com', '9hr ago', 'via hirist.com', '29d ago', 'via naukri.com', '20d ago', 'via naukri.com', '20d ago', 'via naukri.com', '1mon ago', 'via naukri.com', '2d ago', 'via hirist.com', '5hr ago', 'via iimjobs.com']
Stepped splitted List : [['8d ago', '1d ago', '3d ago', '9hr ago', '29d ago', '20d ago', '20d ago', '1mon ago', '2d ago', '5hr ago'], ['via naukri.com', 'via naukri.com', 'via naukri.com', 'via hirist.com', 'via naukri.com', 'via naukri.com', 'via naukri.com', 'via naukri.com', 'via hirist.com', 'via iimjobs.com']]

In [97]:
ratings=[]
rating=driver.find_elements_by_xpath("//span[@class='body-small']")

for i in rating:
    rate=i.text
    ratings.append(rate)
    
Ambition_box['Ratings']=ratings[0:10]

<ipython-input-97-321eb93b43aa>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rating=driver.find_elements_by_xpath("//span[@class='body-small']")

In [100]:
Ambition_box

                                     Company_name Posted_on Ratings
0  Optum Global Solutions (India) Private Limited    8d ago     4.1
1                                Steria India Ltd    1d ago     4.1
2                            Ameriprise Financial    3d ago     4.1
3                      Jubilant Foodworks Limited   9hr ago     3.9
4  Optum Global Solutions (India) Private Limited   29d ago     4.1
5                                Steria India Ltd   20d ago     4.1
6                                Steria India Ltd   20d ago     4.1
7                        HCL Technologies Limited  1mon ago     3.8
8                                           Zyoin    2d ago     4.2
9                                        GI Group   5hr ago     3.9

### 10. Extract other informations from Ambition box

In [4]:
driver= webdriver.Chrome("C:/chromedriver.exe")

<ipython-input-4-e33040cb7ecc>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome("C:/chromedriver.exe")

In [5]:
driver.get("https://www.ambitionbox.com/")
time.sleep(3)
driver.find_element_by_xpath("//a[@class='link salaries']").click()
searchbox= driver.find_element_by_id("jobProfileSearchbox").send_keys("Data Scientist")
time.sleep(3)
dropdown = driver.find_element_by_xpath("//div[@class='suggestion_wrap tt-suggestion tt-selectable']//p[contains(text(),'Data Scientist')]").click()
Ambition_box_salary=pd.DataFrame({})

<ipython-input-5-06997ba7851c>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//a[@class='link salaries']").click()
<ipython-input-5-06997ba7851c>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  searchbox= driver.find_element_by_id("jobProfileSearchbox").send_keys("Data Scientist")
<ipython-input-5-06997ba7851c>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  dropdown = driver.find_element_by_xpath("//div[@class='suggestion_wrap tt-suggestion tt-selectable']//p[contains(text(),'Data Scientist')]").click()

In [6]:
Company_names=[]
company_name=driver.find_elements_by_xpath("//div[@class='name']")
for i in company_name:
    i=i.text.replace('\n'," ")
    i=i.strip(" ")
    Company_names.append(i)

Ambition_box_salary['Total_salary_record']=Company_names

<ipython-input-6-76462bbb9cba>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_name=driver.find_elements_by_xpath("//div[@class='name']")

In [7]:
Avg_CTC=[]
avg=driver.find_elements_by_xpath("//p[@class='averageCtc']")
for i in avg:
    i=i.text
    Avg_CTC.append(i)
Ambition_box_salary['Avg_CTC']=Avg_CTC

<ipython-input-7-63a992d5c10e>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  avg=driver.find_elements_by_xpath("//p[@class='averageCtc']")

In [8]:
min_sal=[]
min_salo=driver.find_elements_by_xpath("//div[@class='value body-medium']")
for i in min_salo:
    i=i.text.replace("\n",',')
    min_sal.append(i)
K = 2
res = []
for idx in range(0, K):
    res.append(min_sal[idx::K])
print("Stepped splitted List : " +str(res))
result=list(res)
Ambition_box_salary['Minimum_Salary']=result[0]
Ambition_box_salary['Maximum_Salary']=result[1]

<ipython-input-8-af00d462a99b>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  min_salo=driver.find_elements_by_xpath("//div[@class='value body-medium']")

Stepped splitted List : [['₹ 15.0L', '₹ 11.0L', '₹ 9.0L', '₹ 8.3L', '₹ 7.2L', '₹ 10.0L', '₹ 8.5L', '₹ 6.9L', '₹ 6.0L', '₹ 5.0L'], ['₹ 23.0L', '₹ 21.3L', '₹ 20.8L', '₹ 18.5L', '₹ 20.5L', '₹ 21.0L', '₹ 15.0L', '₹ 20.5L', '₹ 20.0L', '₹ 21.5L']]

In [9]:
exp=[]
experience=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")

<ipython-input-9-04d99b610502>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")

In [10]:
for i in experience:
    i=i.text.replace("\n","")
    i=i.split(".")
    exp.append(i)
List = []
for elem in exp:
    List.extend(elem)
K = 2
res = []
for idx in range(0, K):
    res.append(List[idx::K])
print("Stepped splitted List : " +str(res))
result=list(res)
Ambition_box_salary['Role']=result[0][0:10]
Ambition_box_salary['Experience']=result[1][0:10]

Stepped splitted List : [['Data Scientist ', 'Data Scientist ', 'Data Scientist ', 'Data Scientist ', 'Data Scientist ', 'Data Scientist ', 'Data Scientist ', 'Data Scientist ', 'Data Scientist ', 'Data Scientist '], [' 4 yrs exp', ' 3-4 yrs exp', ' 2-4 yrs exp', ' 3-4 yrs exp', ' 2-4 yrs exp', ' 4 yrs exp', ' 4 yrs exp', ' 2-4 yrs exp', ' 3-4 yrs exp', ' 3-4 yrs exp']]

In [11]:
Ambition_box_salary

,Total_salary_record,Avg_CTC,Minimum_Salary,Maximum_Salary,Role,Experience
0,Ab Inbev based on 10 salaries,₹ 19.4L,₹ 15.0L,₹ 23.0L,Data Scientist,4 yrs exp
1,Optum based on 22 salaries,₹ 15.1L,₹ 11.0L,₹ 21.3L,Data Scientist,3-4 yrs exp
2,Fractal Analytics based on 60 salaries,₹ 14.7L,₹ 9.0L,₹ 20.8L,Data Scientist,2-4 yrs exp
3,Tiger Analytics based on 24 salaries,₹ 13.4L,₹ 8.3L,₹ 18.5L,Data Scientist,3-4 yrs exp
4,UnitedHealth based on 45 salaries,₹ 13.3L,₹ 7.2L,₹ 20.5L,Data Scientist,2-4 yrs exp
5,Verizon based on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L,Data Scientist,4 yrs exp
6,Ganit Business Solutions based on 12 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L,Data Scientist,4 yrs exp
7,Deloitte based on 45 salaries,₹ 11.2L,₹ 6.9L,₹ 20.5L,Data Scientist,2-4 yrs exp
8,Ernst & Young based on 26 salaries,₹ 11.1L,₹ 6.0L,₹ 20.0L,Data Scientist,3-4 yrs exp
9,Ericsson based on 43 salaries,₹ 10.9L,₹ 5.0L,₹ 21.5L,Data Scientist,3-4 yrs exp